@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click Church Themed Movies to see a list of movies already entered in. To add another, click on the Add a Movie link.</p>
</div>
